In [14]:
import json
import pandas as pd

In [2]:
# Opens the tweets file in read mode
with open('collected_tweets2020-12-07_13:29:12.txt','r') as file:
    tweets = file.readlines()

In [7]:
# Parse tweet to json format (list)
parsed_tweets = [json.loads(json.loads(i)) for i in tweets]

In [10]:
# Quantity of collected tweets
len(parsed_tweets)

9668

In [12]:
primeiro_tweet = parsed_tweets[0]

In [19]:
# Transform parsed_tweets into table format
df = pd.DataFrame(primeiro_tweet).reset_index(drop=True).iloc[:1]

In [20]:
# Remove unnecessary columns
df.drop(columns=['quote_count'
,'reply_count'
,'retweet_count'
,'favorite_count'
,'favorited'
,'retweeted'
,'user'
,'entities'
,'retweeted_status'], inplace=True)

In [24]:
# Select fields from the user object and add them to the Dataframe
df['user_id'] = primeiro_tweet['user']['id']
df['user_id_str'] = primeiro_tweet['user']['id_str']
df['user_screen_name'] = primeiro_tweet['user']['screen_name']
df['user_location'] = primeiro_tweet['user']['location']
df['user_description'] = primeiro_tweet['user']['description']
df['user_protected'] = primeiro_tweet['user']['protected']
df['user_verified'] = primeiro_tweet['user']['verified']
df['user_followers_count'] = primeiro_tweet['user']['followers_count']
df['user_friends_count'] = primeiro_tweet['user']['friends_count']

In [26]:
df.head()

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,timestamp_ms,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count
0,Mon Dec 07 16:29:07 +0000 2020,1335984697692876802,1335984697692876802,RT @paulsperry_: BREAKING: IRS tax filings rev...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,1607358547982,1299012035372552192,1299012035372552192,scientist_for,None,I’m a scientist who is tired of the mk-ultra m...,False,False,133,587